body{
    background-color: #dddddd;
}

.ico{
    font-size: 50px;
    min-width: 18%;
    max-width: 18%;
}

.box{
    width: 100%;
    border-radius: 5px ;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner{
    background-color: turquoise;
    height: 70px;
}

.name{
    font-size: 20px;
}